#instructions, #instructions strong {
    font-size: 13px;
}

#meme_form {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template: 15px repeat(2,25px) / repeat(3,1fr) 80px;
    grid-gap: 5px;
    margin-top: 20px;;
}

#meme_form span {
    font-size: 14px;
}

#meme_form input {
    border-radius: 3px;
    border: 1px solid #999;
    outline: none;
    padding: 0 3px 0 3px;
}

#meme_form button {
    border-radius: 3px;
    border: 1px solid rgb(18, 57, 107);
    background-color: rgb(60, 139, 241);
    color: white;
    cursor: pointer;
}

#meme_grid {
    width: 660px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.meme {
    position: relative;
    margin: 10px 10px 0 0;
}

.meme .delete {
    transition: .2s ease-in-out;
    opacity: 0;
}

.meme:hover .delete {
    opacity: 1;
}

.delete {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-image: url(images/delete_button.png);
    background-position: -1px -1px;
    background-size: 32px 32px; 
    background-color: rgba(83, 0, 0, 0.1);
    border-radius: 16px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.4);
    border: 1px solid black;
}