@font-face {
    font-family: Adequate;
    src: url(fonts/Adequate.ttf);
}

@font-face {
    font-family: Ageo;
    src: url(fonts/AgeoPersonalUse.otf)
}

@font-face {
    font-family: Ageo-medium;
    src: url(fonts/AgeoPersonalUse-Medium.otf);
}

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Helvetica, Arial sans-serif;
    color: #888;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --navLinks:#CCC;
}

#main_container {
    position: relative;
    display: grid;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(11, 121, 199);
    grid-template: 220px 30px 1fr / 2fr 1fr 660px 1fr 2fr;
    align-content: space-evenly;
    justify-content: space-around;
}

#header_bg {
    grid-area: 1 / 1 / span 2 / span 5;
    background-image: linear-gradient(rgb(11, 121, 199),rgb(7, 93, 155));
}

#header {
    display: grid;
    grid-template: 1fr 30px / 2fr 1fr 80px 580px 1fr 2fr;
    grid-area: 1 / 1 / span 2 / span 5;
    z-index: 2;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

#logo {
    background: url(images/wgroverlogo.png) no-repeat;
    background-position: right;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / span 2 / span 3;
    padding: 0 0 0 10px;
    justify-self: right;
}

#page_title {
    grid-area: 1 / 4 / span 1 / span 2;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 10px 10px 0 0 ;
    color: white; 
    font-family: Ageo;
    font-size: 36px;
    line-height: 22px;
}

.back_arrow {
    font-size: 13px;
}

.back_arrow, .large_symbol {
    color: rgba(255,255,255,0.85);
}

.back_arrow:hover, .large_symbol:hover {
    color: rgba(255,255,255,1);
}

.large_symbol {
    font-size: 15px;
}

#nav_links {
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    grid-area: 2 / 4 / span 1 / span 2;
    text-align: right;
}

#nav_links a {
    color: white;
    font-family: Ageo;
    opacity: 0.8;
    padding: 5px 7px 3px 7px;
    margin: 0 2px 0 2px;
    font-size: 20px;
    line-height: 26px;
}

#nav_links a:hover {
    opacity: 1;
}

#nav_links a.selected {
    opacity: 1; 
    background-color: rgb(0, 182, 0);
    border-radius: 3px;
}

#nav_links a.image_link {
    vertical-align: middle;
}

#body_content {
    grid-area: 3 / 2 / span 1 / span 3;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #FFF;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
    padding: 10px 30px 0px 30px;
    text-align: left;
}

#home_headings {
    background-image: none;
    padding: 100px 60px 150px 60px;
    width: 100%;
    height: 350px;
    text-align: center;
}

#home_main_heading {
    font-size: 48px;
    font-family: Adequate;
    background-image: linear-gradient(to right, rgb(150,150,150), transparent 50%);
    background-position: 0 1.27em;
    background-repeat: repeat-x;
    background-size: 2px 1px;
}

#home_sub_heading {
    margin: 0;
    font-family: Adequate;
    letter-spacing: .05em;

}

header, footer {
    width: 100%;
    margin: 20px 0 20px 0;
    background-image: linear-gradient(to bottom, rgb(65, 177, 0), transparent 50%);
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 2px 2px;
}

footer {
    text-align: right;
}

main {
    margin-top: 10px;
    font-size: 16px;
}

h1 {
    color: rgb(65, 177, 0);
    font-family: Ageo;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-family: Ageo-medium;
}

p, li {
    font-family: Ageo;
}

h2 {
    margin: 20px 0 5px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

p {
    line-height: 22px;
    padding-bottom: 5px;
    font-weight: thin;
}

main ul {
    margin-left: 25px;
}

main li {
    line-height: 20px;
}

main a {
    font-family: Ageo;
    color: rgb(24, 141, 224);
}

main a:hover {
    text-decoration: underline;
}

main u {
    text-decoration: underline;
}

#body_nav_links {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.update_preview {
    display: grid;
    grid-template: 1fr 20px / 1fr 1fr;
    height: 100%;
    width: 100%;
}

.home_link {
    border-top: 1px solid rgb(65, 177, 0);
    padding-top: 7px;
    height: 30px;
    grid-area: 1 / 1 / span 1 / span 2;
    text-align: center;
    font-family: Ageo;
}

.home_link:hover {
    background: radial-gradient(65% 30% at top center,rgba(219, 243, 113, 1),transparent 50%)
}

.update_preview_image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border: 1px solid #BBB;
    border-radius: 5px;
    grid-area: 1 / 1 / span 1 / span 2;
}

.update_preview_image img {
    max-width: 300px;
}

.update_preview_date, .update_preview_title {
    padding: 3px 5px 0 5px;
    font-size: 12px;
}

.update_preview_date {
    text-align: left;
}

.update_preview_title {
    text-align: right;
}

#body_content_bg {
    grid-area: 3 / 1 / span 1 / span 7;
    background-color: #EFEFEF;
}

#footer {
    grid-area: 4 / 1 / span 1 / span 5;
    background-color: #CCC;
    width: 100%;
    height: 20px;
}
